extends layout.pug

block content

  nav.nav
    a(href='/')
      span &larr;
      |  Back

  article.portfolio-about
    .inner-wrapper.flex-row-wrap.two-col
      .about-intro-box.box

        h1 Leandro Gomes

        p Software Developer


        .about-bio

          p This is my elevator pitch. It is the elevator pitch to end all elevator pitches. Your mind is blown. Your mortal brain can scarcely process how well my prior experience maps to your open dev position. 


      .skills-contact-box.box
        h6 Skills

        ul
          li JavaScript
          li jQuery
          li Node.js / Express.js
          li HTML
          li CSS
          li Git and GitHub
          li VS Code
          li Object-Oriented Programming
          li Fetch and Public APIs
          li Statistics and Data analysis 

        h6 Contact Info

        ul
          li +49 123 4567890
          li not_my_real_mail@email.com

        a.btn-link(href='https://www.xing.com/profile/Leandro_Gomes2/cv' target="_blank") Xing
        a.btn-link(href='https://github.com/Leandro-GomesSilva' target="_blank") GitHub
        a.btn-link(href='https://teamtreehouse.com/leandrogomessilvaesilva' target="_blank") Treehouse

    nav.nav
      a(href='/')
        span &larr;
        |  Back